@{
    ViewData["Title"] = "Dashboard Administrador";
    Layout = "~/Views/Admin/_LayoutAdministrador.cshtml";
}

@if (Context.Request.Query.ContainsKey("mensaje"))
{
    <div class="alert alert-success">
        @Context.Request.Query["mensaje"]
    </div>
}

<img class="user-img" src="/img/user.png" alt="boton de salida">
