@model EjercicioModel
@{
    ViewData["Title"] = "Agregar Ejercicio";
    Layout = "~/Views/Entrenador/_LayoutEntrenador.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<div class="container container-grande">

    <div class="login-container">

        <img class="cliente-img" src="/img/excercise.png" alt="Logo">

        <div class="wrapper">

            <div class="text-registrar" style="text-align: center;
            color: #EE1C25; font-size: 50px; font-style: italic; font-weight: 900;
            line-height: 70px; word-wrap: break-word">
                AÑADIR EJERCICIO
            </div>

            <form asp-action="AgregarEjercicioProc" asp-controller="PlanMejoramientoFisico" method="post" class="form p-3 mt-3">

                <div class="form-field">
                    <h4>Nombre:</h4>
                    <select asp-for="Nombre" class="form-control custom-select">
                        <option value="">Seleccione nombre</option>
                        @foreach (var opcion in Model.Opciones)
                        {
                            <option value="@opcion.IdEjercicio"> @opcion.NameEjercicio</option>
                        }
                    </select>
                    <span id="nombre-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Nombre" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Numero de Repeticiones:</h4>
                    <<input asp-for="Repeticiones" type="text">
                    <span id="repeticiones-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Repeticiones" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Numero de Series:</h4>
                    <input asp-for="Series" type="text">
                    <span id="series-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Series" class="text-danger error-message"></span>
                </div>


                <div class="form-field">
                    <h4>Dia de la semana:</h4>
                    <select asp-for="Dia" class="form-control custom-select">
                        <option value="">Seleccione Dia</option>
                        <option value="Lunes">Lunes</option>
                        <option value="Martes">Martes</option>
                        <option value="Miercoles">Miercoles</option>
                        <option value="Jueves">Jueves</option>
                        <option value="Viernes">Viernes</option>
                        <option value="Sabado">Sabado</option>
                    </select>
                    <span id="dia-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Dia" class="text-danger error-message"></span>
                </div>

                <button type="button" id="guardarEjercicio" class="btn mt-3">Guardar</button>

            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        // Enviar el formulario
        $('#guardarEjercicio').on('click', function () {
            // Limpia mensajes de error anteriores
            $('#nombre-error').text('');
            $('#repeticiones-error').text('');
            $('#series-error').text('');
            $('#dia-error').text('');

            // Validación de campos vacíos
            let camposValidos = true;

            // Validar el campo de dia de la semana
            var nombre = $('#Nombre').val();
            if (!nombre) {
                $('#nombre-error').text('Campo obligatorio.');
                camposValidos = false;
            }

            // Validar el campo de repeticiones
            var repeticiones = $('#Repeticiones').val().trim();
            if (repeticiones === '') {
                $('#repeticiones-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (!$.isNumeric(repeticiones)) {
                $('#repeticiones-error').text('Debe ser un número.');
                camposValidos = false;
            } else if (repeticiones < 0) {
                $('#repeticiones-error').text('No puede ser un número negativo.');
                camposValidos = false;
            }

            // Validar el campo de series
            var series = $('#Series').val().trim();
            if (series === '') {
                $('#series-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (!$.isNumeric(series)) {
                $('#series-error').text('Debe ser un número.');
                camposValidos = false;
            } else if (series < 0) {
                $('#series-error').text('No puede ser un número negativo.');
                camposValidos = false;
            }

            // Validar el campo de dia de la semana
            var dia = $('#Dia').val();
            if (!dia) {
                $('#dia-error').text('Campo obligatorio.');
                camposValidos = false;
            }

            // Comprobar si todos los campos son válidos
            if (!camposValidos) {
                return; // No continuar si hay errores
            }

            // Si todo está bien, prepara los datos del formulario
            var formData = {
                Nombre: nombre,
                Repeticiones: repeticiones,
                Series: series,
                Dia: dia
            };

            // Envía los datos mediante AJAX
            $.ajax({
                url: '@Url.Action("AgregarEjercicioProc", "PlanMejoramientoFisico")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data.success) {
                        // Redirige con el mensaje en el QueryString
                        window.location.href = data.redirectUrl;
                    } else if (data.errors) {
                        $('#ejercicio-existe').text(data.errors.MensajeError || '');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error al guardar el ejercicio:", error);
                }
            });

        });
    });
</script>

<style>

    .text-registrar {
        margin-right: 30px;
    }

    .container-grande {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrapper {
        padding: 60px;
        margin-left: 200px;
    }

    .cliente-img {
        width: 230px;
        height: 230px;
        position: absolute;
        bottom: 25%;
        right: 72%;
    }

    .wrapper .btn {
        background-color: red;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 200px;
        height: 45px;
        padding: 10px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        background: #EE1C25;
        border-radius: 40px;
        font-weight: bold;
        line-height: 70px;
        word-wrap: break-word;
        font-size: 20px;
        font-style: italic;
        margin-left: 130px;
        position: absolute;
        bottom: 20px;
        left: 64%;
    }

        .wrapper .btn:hover {
            background-color: darkred;
        }

    .wrapper a:hover {
        color: #039BE5;
    }

    .data-field .relative {
        flex: 1;
        max-width: 200px;
    }

    .error-message {
        margin-top: 0;
        color: #d9534f;
        font-size: 0.7rem;
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        white-space: normal;
        line-height: 1.2;
        max-width: 95px;
    }

    #fecha-error {
        right: -50%;
    }

    .form-field {
        position: relative;
        padding-right: 95px;
    }

    .custom-select {
        margin-top: 10px;
        text-align: center;
        text-align-last: center;
        border-radius: 20px;
        padding: 0;
        font-size: 1.2rem;
        border: 2px solid #dcdcdc;
        background-color: #f9f9f9;
        appearance: none;
        background-image: url('/img/flechaAbajo.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 15px;
        height: 40px; /* Altura ajustada para hacer el input más pequeño */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-field, .data-field {
        display: flex;
        align-items: center;
    }

    .wrapper .datapicker-styles {
        margin-bottom: 2%;
    }

    .form-field h4, .data-field h4 {
        margin-right: 15px;
        padding: 8px;
        background-color: #969393;
        border-radius: 10px;
        color: black;
        white-space: nowrap;
    }


    .wrapper .form-field input {
        margin-bottom: 8px;
        width: 100%;
        border: none;
        outline: none;
        background: none;
        font-size: 1.2rem;
        padding: 10px 10px;
        background: white;
        border-radius: 20px;
        height: 40px;
    }


    .wrapper .btn {
        background-color: red;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 200px;
        height: 45px;
        padding: 10px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        background: #EE1C25;
        border-radius: 40px;
        font-weight: bold;
        line-height: 70px;
        word-wrap: break-word;
        font-size: 20px;
        font-style: italic;
        margin-left: 130px;
        position: absolute;
        bottom: 20px;
        left: 64%;
    }

</style>


