@model PMFModel
@{
    ViewData["Title"] = "Modificar PMF";
    Layout = "~/Views/Entrenador/_LayoutEntrenador.cshtml";
}

<div class="container-grande">
    <div class="text-Asignar" style="text-align: center;
    color: #EE1C25;
    font-size: 50px;
    font-style: italic; font-weight: 900; line-height: 70px; word-wrap: break-word">
        MODIFICAR PMF
    </div>

    <form asp-action="AgregarPMF" asp-controller="PlanMejoramientoFisico" method="post" class="form p-3 mt-3">
        <div class="search-bar">

            <img class="cliente-img" src="/img/check-list.png" alt="Logo">

            <div class="search-bar-2">
                <div class="data-field">
                    <h4>Fecha de valoracion:</h4>
                    <div class="relative datapicker-styles">
                        <input id="default-datepicker" asp-for="FechaValoracion" type="date"
                               class="bg-white border border-gray-300 text-gray-900 text-sm
                                    rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                               placeholder="Seleccionar fecha">
                        <span id="fecha-error" class="text-danger error-message"></span>
                        <span asp-validation-for="FechaValoracion" class="text-danger error-message"></span>
                    </div>
                </div>
            </div>

            <div class="boton">
                <button type="button" id="guardarPMF" class="btn mt-3">Modificar</button>
            </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {

        // Enviar el formulario
        $('#guardarPMF').on('click', function () {
            // Limpia mensajes de error anteriores
            $('#fecha-error').text('');

            // Validación de campos vacíos
            let camposValidos = true;

            // Validar el campo de fecha de Valoracion
            var fechaValoracion = $('#default-datepicker').val();
            if (!fechaValoracion) {
                $('#fecha-error').text('Campo obligatorio.');
                camposValidos = false;
            } else {
                var fecha = new Date(fechaValoracion);
                var hoy = new Date();
                var limite = new Date();
                limite.setDate(hoy.getDate() - 7);                  
                if (fecha > hoy) {
                    $('#fecha-error').text('No puede ser en el futuro.');
                    camposValidos = false;
                } else if (fecha < limite) {
                    $('#fecha-error').text('No puede ser hace más de una semana.');
                    camposValidos = false;
                }   
            }

            // Comprobar si todos los campos son válidos
            if (!camposValidos) {
                return; // No continuar si hay errores
            }

            // Si todo está bien, prepara los datos del formulario
            var formData = {
                FechaValoracion: fechaValoracion
            };

            // Envía los datos mediante AJAX
            $.ajax({
                url: '@Url.Action("AgregarPMF", "PlanMejoramientoFisico")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data.success) {
                        window.location.href = data.redirectUrl;
                    } else if (data.errors) {
                        $('#fecha-error').text('PMF existente');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error al guardar el PMF:", error);
                }
            });

        });
    });
</script>


<style>

    #default-datepicker {
        width: 400px;
        height: 50px;
        font-size: 16px;
        border-radius: 10px;
    }

    .container-grande {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .search-bar {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: 40px;
    }

    .cliente-img {
        width: 100px;
        height: 100px;
    }

    .data-field {
        display: flex;
        align-items: center;
    }

        .data-field h4 {
            margin-right: 15px;
            padding: 8px;
            background-color: #969393;
            border-radius: 10px;
            color: black;
            white-space: nowrap;
        }



    .search-bar-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40px;
    }

    .container-grande {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-Asignar {
        margin-top: 40px;
        text-align: center;
        color: #EE1C25;
        font-size: 50px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        word-wrap: break-word;
    }

    .table-container {
        width: 95%;
        margin: 0 auto;
        max-height: 270px;
        overflow-y: auto;
        margin-top: 20px;
    }

    .table thead th {
        background-color: #b3b3b3;
        color: white;
        text-align: center;
    }

    .table tbody tr td {
        background-color: white;
        text-align: center;
    }

    .table-bordered td, .table-bordered th {
        border: 2px solid #dee2e6;
    }

    .botones {
        display: flex;
        gap: 10px;
        margin-top: 5px;
    }

    .btn {
        background-color: red;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 200px;
        height: 45px;
        padding: 10px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        background: #EE1C25;
        border-radius: 40px;
        font-weight: bold;
        line-height: 70px;
        word-wrap: break-word;
        font-size: 20px;
        font-style: italic;
    }

    .boton .btn {
        background-color: red;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 200px;
        height: 45px;
        padding: 10px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        background: #EE1C25;
        border-radius: 40px;
        font-weight: bold;
        line-height: 70px;
        word-wrap: break-word;
        font-size: 20px;
        font-style: italic;
        margin-left: 130px;
        position: absolute;
        bottom: 20px;
        left: 64%;
    }

    .wrapper .btn:hover {
        background-color: darkred;
    }

    .wrapper a:hover {
        color: #039BE5;
    }

    .table-container::-webkit-scrollbar {
        width: 18px;
    }

    .table-container::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #4c4c4c;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

        .table-container::-webkit-scrollbar-thumb:hover {
            background-color: #333333;
        }

    .table-container::-webkit-scrollbar-button:single-button {
        background-color: white;
        display: block;
        height: 18px;
        border-radius: 5px;
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }

        .table-container::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url('/img/flechaArriba.png');
        }

        .table-container::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url('/img/flechaAbajo.png');
        }

    .table-container::-webkit-scrollbar-button {
        width: 18px;
        height: 18px;
    }

    .table-container::-webkit-scrollbar-corner {
        background: #e0e0e0;
    }

</style>
