@model PMFModel
@{
    ViewData["Title"] = "Modificar PMF";
    Layout = "~/Views/Entrenador/_LayoutEntrenador.cshtml";
}

<div class="container-grande">

    <div class="text-Asignar">
        BUSCAR PMF
    </div>


    <form asp-action="AgregarPMF" asp-controller="PlanMejoramientoFisico" method="post" class="form p-3 mt-3">
        <div class="search-bar">

            <div class="search-bar-2">
                <div class="data-field">
                    <div class="relative datapicker-styles">
                        <input id="default-datepicker" asp-for="FechaValoracion" type="date"
                               class="bg-white border border-gray-300 text-gray-900 text-sm
                                    rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                               placeholder="Seleccionar fecha">
                        <span asp-validation-for="FechaValoracion" class="text-danger error-message"></span>
                    </div>
                </div>
            </div>

            <div class="boton">
                <button type="button" id="guardarPMF" class="btn mt-3">Buscar</button>
            </div>

            <div id="error-container" class="error-container">
                  <span id="fecha-error" class="text-danger error-message"></span>
            </div>
        </div>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {

        // Enviar el formulario
        $('#guardarPMF').on('click', function () {
            // Limpia mensajes de error anteriores
            $('#fecha-error').text('');

            // Validación de campos vacíos
            let camposValidos = true;

            // Validar el campo de fecha de Valoracion
            var fechaValoracion = $('#default-datepicker').val();
            if (!fechaValoracion) {
                $('#fecha-error').text('Campo obligatorio.');
                camposValidos = false;
            } else {
                var fecha = new Date(fechaValoracion);
                var hoy = new Date();
                var limite = new Date();
                limite.setDate(hoy.getDate() - 366);                  
                if (fecha > hoy) {
                    $('#fecha-error').text('No puede ser en el futuro.');
                    camposValidos = false;
                } else if (fecha < limite) {
                    $('#fecha-error').text('No puede ser hace más de un año.');
                    camposValidos = false;
                }   
            }

            // Comprobar si todos los campos son válidos
            if (!camposValidos) {
                return; // No continuar si hay errores
            }

            // Si todo está bien, prepara los datos del formulario
            var formData = {
                FechaValoracion: fechaValoracion
            };

            // Envía los datos mediante AJAX
            $.ajax({
                url: '@Url.Action("AgregarPMF", "PlanMejoramientoFisico")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data.success) {
                        window.location.href = data.redirectUrl;
                    } else if (data.errors) {
                        $('#fecha-error').text('PMF existente');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error al guardar el PMF:", error);
                }
            });

        });
    });
</script>


<style>

    .container-grande {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .error-container {
        color: red;
        font-size: 16px;
        text-align: center;
    }

    #default-datepicker {
        width: 400px;
        height: 50px;
        font-size: 16px;
        border-radius: 10px;
    }

    .search-bar {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom:100px;
    }

    .data-field {
        display: flex;
        align-items: center;
    }

        .data-field h4 {
            margin-right: 15px;
            padding: 8px;
            background-color: #969393;
            border-radius: 10px;
            color: black;
            white-space: nowrap;
        }

    .search-bar-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-grande {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-Asignar {
        margin-top: 40px;
        text-align: center;
        color: #EE1C25;
        font-size: 50px;
        font-style: italic;
        font-weight: 900;
        line-height: 70px;
        word-wrap: break-word;
    }

    .table-container {
        width: 95%;
        margin: 0 auto;
        max-height: 270px;
        overflow-y: auto;
        margin-top: 20px;
    }

    .btn {
        background-color: #EE1C25;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 40px;
        margin-left: 10px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 45px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        font-size: 20px;
        font-style: italic;
        line-height: 70px;
        word-wrap: break-word;
    }

    .wrapper a:hover {
        color: #039BE5;
    }

</style>
