@{
    ViewData["Title"] = "Dashboard Entrenador";
    Layout = "~/Views/Entrenador/_LayoutEntrenador.cshtml";
}

@if (TempData["MensajeValidacion"] != null)
{
    <div class="alert alert-success">
        @TempData["MensajeValidacion"]
    </div>
}

<img class="user-img" src="/img/user.png" alt="boton de salida">
<script>
    window.history.replaceState(null, null, window.location.href);
</script>