@model EntrenadorModel

@{
    ViewData["Title"] = "Registrar Entrenador";
    Layout = "~/Views/Admin/_LayoutAdministrador.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/RegistroEntrenador.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="container container-grande">
    <div class="text-registrar"
         style="text-align: center;
            color: #EE1C25;
            font-size: 50px;
            font-style: italic;
            font-weight: 900;
            line-height: 70px;
            word-wrap: break-word">
        REGISTRAR ENTRENADOR
    </div>

    <div class="login-container">
        <div class="wrapper">
            <img class="cliente-img" src="/img/user.png" alt="Logo">

            <form asp-action="RegistrarEntrenador" asp-controller="Entrenador" method="post" class="form p-3 mt-3">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-field">
                    <h4>Nombre:</h4>
                    <input asp-for="Nombre" type="text">
                    <span id="nombre-error" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Identificación:</h4>
                    <input asp-for="Identificacion" type="text" id="Identificacion">
                    <span id="entrenador-existe" class="text-danger error-message"></span>
                    <span id="persona-existe" class="text-danger error-message"></span>
                    <span id="identificacion-error" class="text-danger error-message"></span>
                </div>

                <div class="data-field">
                    <h4>Fecha de Contratación:</h4>
                    <div class="relative">
                        <input id="contrato-datepicker" asp-for="fechaInicioContrato" type="date"
                               class="bg-white border border-gray-300 text-gray-900 text-sm
                                rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                               placeholder="Seleccionar fecha">
                        <span id="fechaInicioContrato-error" class="text-danger error-message error-fecha"></span>
                    </div>
                </div>

                <div class="form-field">
                    <h4>Teléfono:</h4>
                    <input asp-for="Telefono" type="text">
                    <span id="telefono-error" class="text-danger error-message"></span>
                </div>

                <div class="form-field form-field-especialidad">
                    <h4>Género:</h4>
                    <select asp-for="Genero" class="custom-select">
                        <option value="">Seleccione Género</option>
                        <option value="NE">No especificado</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <span id="genero-error" class="text-danger error-message"></span>
                </div>

                <div class="form-field form-field-especialidad">
                    <h4>Área de especialidad:</h4>
                    <select asp-for="Especialidad" class="custom-select">
                        <option value="">Seleccione Especialidad</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Fuerza">Fuerza</option>
                        <option value="Reducción de peso">Reducción de peso</option>
                        <option value="Culturismo">Culturismo</option>
                    </select>
                    <span id="especialidad-error" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Salario:</h4>
                    <input asp-for="Salario" type="text">
                    <span id="salario-error" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Contraseña:</h4>
                    <input asp-for="Contraseña" type="text" id="Contraseña">
                    <span id="contraseña-error" class="text-danger error-message"></span>
                </div>

                <button type="button" id="guardarEntrenador" class="btn mt-3">Guardar</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#Identificacion').on('keyup', function () {
            var identificacion = $(this).val();
            $('#entrenador-existe').text(''); // Limpia el mensaje de entrenador existente
            $('#persona-existe').text(''); // Limpia el mensaje de persona existente

            // Validación en tiempo real
            if (!identificacion) {
                $('#identificacion-error').text('Campo obligatorio.');
            } else {
                $('#identificacion-error').text(''); // Limpia el mensaje si hay algún valor

                // Solo hacer la llamada AJAX si el valor es un número
                if ($.isNumeric(identificacion)) {
                    // Verificar si el entrenador ya existe
                    $.ajax({
                        url: '@Url.Action("VerificarEntrenadorExistente", "Entrenador")',
                        type: 'POST',
                        data: { identificacion: identificacion },
                        success: function (data) {
                            if (data.existe) {
                                $('#entrenador-existe').text('Entrenador existente');
                            } else {
                                $('#entrenador-existe').text('');
                                // Si no es entrenador, verificar si la persona ya existe
                                $.ajax({
                                    url: '@Url.Action("VerificarPersonaExistente", "Entrenador")',
                                    type: 'POST',
                                    data: { identificacion: identificacion },
                                    success: function (data) {
                                        if (data.existe) {
                                            $('#persona-existe').text('Persona existente');
                                        } else {
                                            $('#persona-existe').text('');
                                        }
                                    },
                                    error: function () {
                                        $('#persona-existe').text('Error al verificar persona');
                                    }
                                });
                            }
                        },
                        error: function () {
                            $('#entrenador-existe').text('Error al verificar entrenador');
                        }
                    });
                } else {
                    $('#identificacion-error').text('Debe ser un número entero.');
                }
            }
        });

        // Validar todos los campos al hacer clic en el botón Guardar
        $('#guardarEntrenador').on('click', function (e) {
            // Limpia los mensajes de error
            $('.error-message').text('');

            let camposValidos = true;

            // Validar el campo de nombre
            var nombre = $('#Nombre').val().trim();
            var nombreRegex = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/;
            if (!nombre) {
                $('#nombre-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (nombre.length > 50) {
                $('#nombre-error').text('No puede exceder los 50 caracteres.');
                camposValidos = false;
            } else if (!nombreRegex.test(nombre)) {
                $('#nombre-error').text('El nombre no puede contener caracteres especiales ni números.');
                camposValidos = false;
            }

            // Validar el campo de Identificación
            var identificacion = $('#Identificacion').val().trim();
            if (identificacion === '') {
                $('#identificacion-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (!$.isNumeric(identificacion)) {
                $('#identificacion-error').text('Debe ser un número.');
                camposValidos = false;
            } else if (identificacion < 0) {
                $('#identificacion-error').text('No puede ser negativo.');
                camposValidos = false;
            } else if (identificacion.length > 10) {
                $('#identificacion-error').text('No puede tener más de 10 dígitos.');
                camposValidos = false;
            }


            // Validar la fecha de contratación
            var fechaContrato = $('#contrato-datepicker').val(); // Obtén el valor del input
            if (!fechaContrato) {
                $('#fechaInicioContrato-error').text('Campo obligatorio.'); // Mensaje de campo vacío
                camposValidos = false; // Campo no válido
            } else {
                // Obtener la fecha seleccionada en formato YYYY-MM-DD
                var partesFecha = fechaContrato.split('-');
                if (partesFecha.length === 3) {
                    var año = parseInt(partesFecha[0], 10);
                    var mes = parseInt(partesFecha[1], 10) - 1; // Meses en JavaScript son 0-indexed
                    var dia = parseInt(partesFecha[2], 10);

                    var fechaContratoDate = new Date(año, mes, dia); // Crear la fecha seleccionada
                    var hoy = new Date(); // Fecha actual
                    hoy.setHours(0, 0, 0, 0); // Para comparar solo la fecha sin horas
                    var limite = new Date(hoy);
                    limite.setDate(hoy.getDate() + 7); // Fecha límite (7 días desde hoy)

                    // Comparar la fecha seleccionada
                    if (fechaContratoDate < hoy) {
                        $('#fechaInicioContrato-error').text('Fecha inválida. No puede ser una fecha pasada.');
                        camposValidos = false; // Campo no válido
                    } else if (fechaContratoDate > limite) {
                        $('#fechaInicioContrato-error').text('Fecha inválida. No puede ser más de una semana.');
                        camposValidos = false; // Campo no válido
                    }
                } else {
                    $('#fechaInicioContrato-error').text('Formato de fecha inválido.');
                    camposValidos = false;
                }
            }


            // Validar el campo de teléfono
            var telefono = $('#Telefono').val().trim();
            if (telefono === '') {
                $('#telefono-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (!$.isNumeric(telefono)) {
                $('#telefono-error').text('Debe ser un número.');
                camposValidos = false;
            } else if (telefono < 0) {
                $('#telefono-error').text('No puede ser un número negativo.');
                camposValidos = false;
            } else if (telefono.length !== 10) {
                $('#telefono-error').text('Debe tener exactamente 10 dígitos.');
                camposValidos = false;
            } else if (!telefono.startsWith('3')) {
                $('#telefono-error').text('El número de teléfono debe comenzar con 3.');
                camposValidos = false;
            }

            // Validar el campo de Salario
            var salario = $('#Salario').val().trim();
            if (salario === '') {
                $('#salario-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (!$.isNumeric(salario)) {
                $('#salario-error').text('Debe ser un número.');
                camposValidos = false;
            } else if (salario < 0) {
                $('#salario-error').text('El salario no puede ser negativo.');
                camposValidos = false;
            } else if (salario > 10000000) {
                $('#salario-error').text('El salario no puede superar los 10,000,000.');
                camposValidos = false;
            }

            // Validar el campo de Contraseña
            var contraseña = $('#Contraseña').val().trim();
            if (contraseña === '') {
                $('#contraseña-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (contraseña.length > 15) {
                $('#contraseña-error').text('No puede exceder los 15 caracteres.');
                camposValidos = false;
            }

             // Validar el campo de género
            var genero = $('#Genero').val();  // Define la variable 'genero'
            if (!genero) {
                $('#genero-error').text('Campo obligatorio.');
                camposValidos = false;
            }

            // Validar el campo de Especialidad
            var membresia = $('#Especialidad').val();  // Definir la variable 'membresia'
            if (!membresia) {
                $('#especialidad-error').text('Campo obligatorio.');
                camposValidos = false;
            }

            // Si todos los campos son válidos, envía el formulario mediante AJAX
            if (camposValidos) {
                var formData = {
                    Nombre: $('#Nombre').val(),
                    Identificacion: identificacion,
                    fechaInicioContrato: fechaContrato,
                    Telefono: telefono,
                    Genero: $('#Genero').val(),
                    Especialidad: $('#Especialidad').val(),
                    Salario: $('#Salario').val(),
                    Contraseña: $('#Contraseña').val()
                };

                // Envía los datos mediante AJAX
                $.ajax({
                    url: '@Url.Action("RegistrarEntrenador", "Entrenador")',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            // Redirige con el mensaje en el QueryString
                            window.location.href = data.redirectUrl + "?mensaje=Entrenador+registrado+correctamente";
                        } else if (data.errors) {
                            $('#entrenador-existe').text(data.errors.MensajeError || '');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al guardar el entrenador:", error);
                    }
                });
            }
        });
    });
</script>

<style>

    .data-field {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .data-field .relative {
            flex: 1; 
            max-width: 400px; 
        }

    .error-message {
        margin-top: 0;
        color: #d9534f;
        font-size: 0.7rem;
        position: absolute; 
        right: -5px; 
        top: 50%; 
        transform: translateY(-50%); 
        white-space: normal; 
        line-height: 1.2; 
        max-width: 95px; 
    }

    .form-field {
        position: relative; 
        padding-right: 95px; 
    }

    #contrato-datepicker {
        min-width: 190px;
        width: auto;
    }

    input[type="text"],
    select {
        width: 100%; 
        padding: 10px;
        font-size: 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 5px; 
    }

    .custom-select {
        text-align: center;
        text-align-last: center; 
        border-radius: 20px;
        padding: 0;
        font-size: 1.2rem;
        border: 2px solid #dcdcdc;
        background-color: #f9f9f9;
        appearance: none;
        background-image: url('/img/flechaAbajo.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 15px;
        height: 50px;
        display: flex;
        align-items: center; 
        justify-content: center; 
    }

        .custom-select option {
            color: black; 
            font-size: 1.2rem;
            text-align: center; 
        }


</style>
