@model ClienteModel

@{
    ViewData["Title"] = "Registrar Cliente";
    Layout = "~/Views/Admin/_LayoutAdministrador.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/RegistroCliente.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<div class="container container-grande">

    <div class="login-container">

        <div class="wrapper">

            <img class="cliente-img" src="/img/user.png" alt="Logo">

            <div class="text-registrar" style="text-align: center;
            color: #EE1C25; font-size: 50px; font-style: italic; font-weight: 900;
            line-height: 70px; word-wrap: break-word">
                REGISTRAR CLIENTE
            </div>

            <form asp-action="RegistrarCliente" asp-controller="Cliente" method="post" class="form p-3 mt-3">

                <div class="data-field">
                    <h4>Fecha nacimiento:</h4>
                    <div class="relative datapicker-styles">
                        <input id="default-datepicker" asp-for="FechaNacimiento" type="date"
                               class="bg-white border border-gray-300 text-gray-900 text-sm
                                rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                               placeholder="Seleccionar fecha">
                        <span id="fecha-error" class="text-danger error-message"></span>
                    </div>
                    <span asp-validation-for="FechaNacimiento" class="text-danger error-message"></span>
                </div>


                <div class="form-field">
                    <h4>Nombre:</h4>
                    <input asp-for="Nombre" type="text">
                    <span id="nombre-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Nombre" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Identificación:</h4>
                    <input asp-for="Identificacion" type="text" id="Identificacion" required>
                    <span id="cliente-existe" class="text-danger error-message"></span>
                     <span id="identificacion-error" class="text-danger error-message"></span> 
                </div>

                <div class="form-field">
                    <h4>Teléfono:</h4>
                    <input asp-for="Telefono" type="text">
                    <span id="telefono-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Telefono" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Género:</h4>
                    <select asp-for="Genero" class="form-control custom-select">
                        <option value="NE">No especificado</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <span id="genero-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="Genero" class="text-danger error-message"></span>
                </div>

                <div class="form-field">
                    <h4>Membresía:</h4>
                    <select asp-for="refMembresia" class="form-control custom-select">
                        <option value="General">Plan General</option>
                        <option value="Premium">Plan Premium</option>
                    </select>
                    <span id="membresia-error" class="text-danger error-message" style="margin-left: 10px;"></span>
                    <span asp-validation-for="refMembresia" class="text-danger error-message"></span>
                </div>

                <button type="button" id="guardarCliente" class="btn mt-3">Guardar</button>

            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        $('#Identificacion').on('keyup', function () {
            var identificacion = $(this).val();
            $('#cliente-existe').text(''); // Limpia el mensaje de cliente existente

            // Validación en tiempo real
            if (!identificacion) {
                $('#identificacion-error').text('Campo obligatorio.');
            } else {
                $('#identificacion-error').text(''); // Limpia el mensaje si hay algún valor

                // Solo hacer la llamada AJAX si el valor es un número
                if ($.isNumeric(identificacion)) {
                    $.ajax({
                        url: '@Url.Action("VerificarClienteExistente", "Cliente")',
                        type: 'POST',
                        data: { identificacion: identificacion },
                        success: function (data) {
                            if (data.existe) {
                                $('#cliente-existe').text('Cliente existente');
                            } else {
                                $('#cliente-existe').text('');
                            }
                        },
                        error: function () {
                            $('#cliente-existe').text('Error al verificar');
                        }
                    });
                } else {
                    $('#cliente-existe').text('Debe ser un número entero.');
                }
            }
        });

        // Enviar el formulario
        $('#guardarCliente').on('click', function () {
            // Limpia mensajes de error anteriores
            $('#fecha-error').text('');
            $('#nombre-error').text('');
            $('#identificacion-error').text('');
            $('#telefono-error').text('');
            $('#genero-error').text('');
            $('#membresia-error').text('');
            $('#cliente-existe').text(''); // Limpia el mensaje de cliente existente

            // Validación de campos vacíos
            let camposValidos = true;

            // Validar el campo de fecha de nacimiento
            var fechaNacimiento = $('#default-datepicker').val();
            if (!fechaNacimiento) {
                $('#fecha-error').text('Campo obligatorio.');
                camposValidos = false;
            } else {
                var fecha = new Date(fechaNacimiento);
                var hoy = new Date();

                // Comprobar si la fecha es futura
                if (fecha > hoy) {
                    $('#fecha-error').text('No puede ser en el futuro.');
                    camposValidos = false;
                } else {
                    // Calcular edad
                    var edad = hoy.getFullYear() - fecha.getFullYear();
                    // Ajustar si el cumpleaños no ha ocurrido aún este año
                    if (hoy.getMonth() < fecha.getMonth() || (hoy.getMonth() === fecha.getMonth() && hoy.getDate() < fecha.getDate())) {
                        edad--;
                    }

                    if (edad < 14) {
                        $('#fecha-error').text('Debe tener más de 14 años.');
                        camposValidos = false;
                    } else if (edad >= 100) {
                        $('#fecha-error').text('La edad no puede ser superior a 100 años.');
                        camposValidos = false;
                    }
                }
            }

            // Validar el campo de nombre
            var nombre = $('#Nombre').val().trim();
            if (!nombre) {
                $('#nombre-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (nombre.length > 50) {
                $('#nombre-error').text('No puede exceder los 50 caracteres.');
                camposValidos = false;
            }

            // Validar el campo de identificación
            var identificacion = $('#Identificacion').val().trim();
            if (!identificacion) {
                $('#identificacion-error').text('Campo obligatorio.');
                camposValidos = false;
            }
            // Validar si la identificación es negativa
            else if (identificacion < 0) {
                $('#identificacion-error').text('No puede ser un número negativo.');
                camposValidos = false;
            }
            // Validar si la identificación tiene más de 10 dígitos
            else if (identificacion.length > 10) {
                $('#identificacion-error').text('No puede tener más de 10 dígitos.');
                camposValidos = false;
            }
            // Validar si la identificación es numérica
            else if (!$.isNumeric(identificacion)) {
                $('#identificacion-error').text('Debe ser un número entero.');
                camposValidos = false;
            }
            else {
                $('#identificacion-error').text(''); // Limpia el mensaje de error si todo está bien
            }

            // Validar el campo de teléfono
            var telefono = $('#Telefono').val().trim();
            if (telefono === '') {
                $('#telefono-error').text('Campo obligatorio.');
                camposValidos = false;
            } else if (!$.isNumeric(telefono)) {
                $('#telefono-error').text('Debe ser un número.');
                camposValidos = false;
            }else if (telefono < 0) {
                    $('#telefono-error').text('No puede ser un número negativo.');
                    camposValidos = false;
            } else if (telefono.length !== 10) {
                $('#telefono-error').text('Debe tener exactamente 10 dígitos.');
                camposValidos = false;
            }

            // Validar el campo de género
            var genero = $('#Genero').val();  // Define la variable 'genero'
            if (!genero) {
                $('#genero-error').text('Campo obligatorio.');
                camposValidos = false;
            }

            var membresia = $('#refMembresia').val();  // Definir la variable 'membresia'
            if (!membresia) {
                $('#membresia-error').text('Campo obligatorio.');
                camposValidos = false;
            }


            // Comprobar si todos los campos son válidos
            if (!camposValidos) {
                return; // No continuar si hay errores
            }

            // Si todo está bien, prepara los datos del formulario
            var formData = {
                Nombre: nombre,
                Identificacion: identificacion,
                Telefono: telefono,
                Genero: genero,
                FechaNacimiento: fechaNacimiento,
                refMembresia: membresia
            };

            // Envía los datos mediante AJAX
            $.ajax({
                url: '@Url.Action("RegistrarCliente", "Cliente")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data.success) {
                        // Redirige con el mensaje en el QueryString
                        window.location.href = data.redirectUrl;
                    } else if (data.errors) {
                        $('#cliente-existe').text(data.errors.MensajeError || '');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error al guardar el cliente:", error);
                }
            });

        });
    });
</script>


<style>

     .data-field .relative {
        flex: 1;
        max-width: 200px;
     }

    .error-message {
        margin-top: 0;
        color: #d9534f;
        font-size: 0.7rem;
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        white-space: normal;
        line-height: 1.2;
        max-width: 95px;
    }

    #fecha-error{
        right:-50%;
    }

    .form-field {
        position: relative;
        padding-right: 95px;
    }

    .custom-select {
        margin-top: 10px;
        text-align: center;
        text-align-last: center;
        border-radius: 20px;
        padding: 0;
        font-size: 1.2rem;
        border: 2px solid #dcdcdc;
        background-color: #f9f9f9;
        appearance: none;
        background-image: url('/img/flechaAbajo.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 15px;
        height: 40px; /* Altura ajustada para hacer el input más pequeño */
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>


