@model ClienteModel

@{
    ViewData["Title"] = "Registrar Cliente";
    Layout = "~/Views/Admin/_LayoutAdministrador.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/RegistroCliente.css">
</head>

<div class="container container-grande">

    <div class="login-container">

        <div class="wrapper">

            <img class="cliente-img" src="/img/user.png" alt="Logo">

            <div class="text-registrar" style="text-align: center; color: #EE1C25; font-size: 50px; font-style: italic; font-weight: 900; line-height: 70px; word-wrap: break-word">REGISTRAR CLIENTE</div>

            <form asp-action="Guardar" asp-controller="Cliente" method="post" class="form p-3 mt-3">

                <div class="data-field">
                    <h4>Fecha nacimiento:</h4>
                    <div class="relative max-w-sm datapicker-styles">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                            </svg>
                        </div>

                        <input datepicker id="default-datepicker" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Seleccionar fecha">
                    </div>
                </div>
                <div class="form-field">
                    <h4>Nombre:</h4>
                    <input type="text">
                </div>

                <div class="form-field">
                    <h4>Identificación:</h4>
                    <input type="text">
                </div>

                <div class="form-field">
                    <h4>Teléfono:</h4>
                    <input type="text">
                </div>

                <div class="form-field">
                    <h4>Género:</h4>
                   <div class="container-checkbox">
                        <div class="checkbox-container">
                            <label><input type="checkbox" name="genero" value="femenino"> Femenino</label>
                        </div>
                        <div class="checkbox-container">
                            <label><input type="checkbox" name="genero" value="masculino"> Masculino</label>
                        </div>
                        <div class="checkbox-container">
                            <label><input type="checkbox" name="genero" value="no_especificado"> No especificado</label>
                        </div>
                   </div>
                    
                </div>

                <div class="form-field">
                    <h4>Membresía:</h4>
                    <div class="container-checkbox">

                        <div class="checkbox-container">
                            <label><input type="checkbox" name="membresia" value="general"> General</label>
                        </div>
                        <div class="checkbox-container">
                            <label><input type="checkbox" name="membresia" value="premium"> Premium</label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn mt-3">Guardar</button>
            </form>

        </div>
    </div>
</div>

