html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-image: url('/img/fondo1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 95%;
    width: 95%;
    display: flex;
}

#navbar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 250px;
    background-color: white;
    color: white;
    height: 95%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-img {
    padding: 7px 20px;
    width: 250px;
}

.admin-img, .logo-img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

.logo-img {
    max-height: 140px;
    max-width: 150px;
    padding:0;
    margin:0 auto;
}

.actions-img {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.logout-img, .home-img {
    max-height: 60px;
}


.logout-img {
    max-height: 60px;
    margin-bottom: 20px;
    margin-left: 15px;
    align-self: flex-start;
}

.actions-img .home-img {
    max-height: 60px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.actions-img .home-img {
    display: none; /* Inicialmente escondida */
}

.home-img.visible {
    display: block !important; /* Asegura que aparezca si tiene la clase "visible" */
}


.user-img {
    text-align: center;
    width: 200px;
    padding: 25px 15px;
    margin: 0;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

    #navbar ul li {
        padding: 10px 14px;
    }

        #navbar ul li:nth-last-child(-n+2) a.nav-btn {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }

       
        #navbar ul li a.nav-btn {
            color: black;
            width: 100%;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            border-radius: 5px;
            height: 36px;
            font-family: Inter, sans-serif;
            background-color: #D9D9D9;
            border-radius: 8px;
            line-height: 70px;
            word-wrap: break-word;
            font-size: 20px;
            border: none;
            transition: background-color 0.3s ease;
        }

            #navbar ul li a.nav-btn:hover {
                background-color: #EE1C25;
                color: white;
            }

           
            #navbar ul li a.nav-btn i {
                margin-right: 10px;
            }

#main-content {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 250px;
    padding: 20px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

.main-container {
    position: relative;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

    .main-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/img/fondo1.png');
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        z-index: 0;
    }

    .main-container > * {
        position: relative;
        z-index: 1;
    }
